.ng-image-slider .ng-image-slider-container .main .main-inner .img-div {
    /* width: 22% !important;
    height: 170px !important; */
    width: 20em !important;
    height: 20em !important;
    margin: 1em !important;
}

