<div class="full-image">
    <div class="content-container">
        <div class="content-position">            
            <h4 class="text-center p-t-2">Welcome to my website</h4>
            <div class="row flex-justify-center">
                <div class="heading">
                    Hi I'M Preethima
                </div>
            </div>
            <h2 class="text-center">UI Designer, Developer</h2>
        </div>

        <div class="portfolio-container">
            <div class="bottom-section">                
                <div class="row position-center">
                    <div class="flex-container-center">                    
                        <div class="col-25 row flex-align-item-end flex-justify-center">
                            <img src="assets/images/my-pic.png" class="img-container"/>
                        </div>

                        <div class="col-75">
                            <div class="welcome-content">
                                <div>
                                    <h3 class="theme-color">My portfolio</h3>
                                    <h4> My Passion - <span class="theme-color">Design and Code</span></h4>
                                    <p> Interested to view small gallery of my portfolio</p>                                                      
                                    <button (click)="onMyWork()" class="btn" >my works</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>