<div class="full-image">
    <div class="content-container">
        <div class="text-center">
            <h4 class="p-t-2">Welcome to my website</h4>
            <div class="row flex-justify-center">
                <div class="heading">
                    Hi I'M Preethima
                </div>
            </div>
            <h2>UI Designer, Developer</h2>
        </div>

        <div class="content-postion">
            <div class="p-t-b-2">
                <p>
                Experienced designer, Expertise in responsive site design.  </p>
               <p>Fascinated to work as a Front-End Developer.</p>
                   <p> Ready to solve problems with good user interactive solutions.
               </p>
            </div>
            
            <div>
                <h3 class="theme-color">My portfolio</h3>
                <h6> My Passion - <span class="theme-color">Design and Code</span></h6>
                <p class="small"> Interested to view small gallery of my portfolio</p>                                                      
                <button (click)="onMyWork()" class="btn" >my works</button>
            </div>
        </div>
    </div>

   

    <div class ="image-position">           
            <img src="assets/images/my-pic.png" class="img-container"/>           
    </div>

        <!-- <div class="portfolio-container">
            <div class="bottom-section">                
                <div class="row position-center">
                    <div class="flex-container-center">                    
                        <div class="col-25 row flex-align-item-end flex-justify-center">
                            
                        </div>

                        <div class="col-75">
                            <div class="welcome-content">
                                <div>
                                    <h3 class="theme-color">My portfolio</h3>
                                    <h4> My Passion - <span class="theme-color">Design and Code</span></h4>
                                    <p> Interested to view small gallery of my portfolio</p>                                                      
                                    <button (click)="onMyWork()" class="btn" >my works</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

</div>